html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#appBox {
	height: 100%;
	width: 100%;
}

#entryBox {
	background: url(../images/index_bg.png) white no-repeat left top fixed;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	text-align: center;
}

.logo img {
	height: 102px;
	left: 50%;
	margin-left: -150px;
	margin-top: -51px;
	position: absolute;
	top: 50%;
	width: 300px;
}

/*--Circle Menu--*/
.menuBox {
	background: url(../images/shadow.png) no-repeat;
	height: 367px;
	left: -164px;
	margin-top: -160px;
	position: absolute;
	top: 50%;
	width: 328px;
}
.outBox {
	height: 274px;
	margin: 10px 0 0 30px;
	width: 278px;
}
.menu {
	background: url(../images/circlebg.png) no-repeat;
	height: 274px;
	position: relative;
	width: 278px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.menu ul {
	margin-left: 145px;
}
.menu li {
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 40px;
}
.menu li:nth-child(1) {
	top: 20px;
	left: 150px;
	-webkit-transform: rotate(-72deg);
	transform: rotate(-72deg);
}
.menu li:nth-child(2) {
	top: 60px;
	left: 195px;
	-webkit-transform: rotate(-38deg);
	transform: rotate(-38deg);
}
.menu li:nth-child(3) {
	top: 115px;
	left: 220px;
}
.menu li:nth-child(4) {
	top: 170px;
	left: 200px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}
.menu li:nth-child(5) {
	top: 210px;
	left: 150px;
	-webkit-transform: rotate(72deg);
	transform: rotate(72deg);
}
.menu li:nth-child(6) {
	top: 210px;
	left: 90px;
	-webkit-transform: rotate(108deg);
	transform: rotate(108deg);
}
.menu li:nth-child(7) {
	top: 170px;
	left: 40px;
	-webkit-transform: rotate(143deg);
	transform: rotate(143deg);
}
.menu li:nth-child(8) {
	top: 115px;
	left: 20px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.menu li:nth-child(9) {
	top: 60px;
	left: 40px;
	-webkit-transform: rotate(-143deg);
	transform: rotate(-143deg);
}
.menu li:nth-child(10) {
	top: 20px;
	left: 90px;
	-webkit-transform: rotate(-108deg);
	transform: rotate(-108deg);
}

/**/
.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li:nth-child(1) span { /*background-image: url(../flickr/night/5695403207_2891a2e5e8_b.jpg);*/ }
.slideshow li:nth-child(2) span {
	/*background-image: url(../flickr/landscape/9717018570_f907e8f664_b.jpg);*/
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
	/*background-image: url(../flickr/people/8660915575_f5aa9dd9c2_b.jpg);*/
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    /*background-image: url(../flickr/night/9974702364_285d415630_b.jpg);*/
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
/*.slideshow li:nth-child(5) span {
    background-image: url(../flickr/landscape/10607896044_f7e87bd094_b.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
	background-image: url(../flickr/night/10609810613_55dbfd2494_b.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(7) span {
    background-image: url(../flickr/landscape/10618163704_32ffb51f74_b.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(8) span {
    background-image: url(../flickr/people/10618027256_d2956af15b_b.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}*/
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}
.masonry-brick {
	margin: 0.3em;
	display: none;
}

.masonry-brick.loaded {
	display: block;
}
#wallBox {
	background: url(../images/inner_bg.jpg);
}
.masonry {
	margin-left: 30px;
}
.wall-del {
	position: absolute;
	left: 0px;
	top: 0px;
	/*z-index: 0;*/
}
.wall-del i {
	font-size: 20px;
}
#wallBox .menuBox {
	left: -264px;
	top: 360px;
	position: fixed;
	-webkit-transition: 0.7s all ease-in-out;
	-moz-transition: 0.7s all ease-in-out;
	-o-transition: 0.7s all ease-in-out;
	transition: 0.7s all ease-in-out;
}
#wallBox .menuBox:hover {
	left: -164px;
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
}
.exploreBtn {
	color: #FFF;
	cursor: pointer;
	height: 74px;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -37px;
}
.exploreBtn p {
	float: left;
	margin-top: 24px;
	font-size: 24px;
	font-family: helvetica;
}
.exploreBtn img {
	float: left;
}
.selectWord {
	left: 120px;
	position: absolute;
	top: 130px;
}
.infoBtn {
	bottom: 20px;
	cursor: pointer;
	position: absolute;
	right: 20px;
}
.infoBox {
	background: url('../images/dialog.png') no-repeat;
	bottom: 0px;
	display: none;
	height: 117px;
	position: absolute;
	right: 40px;
	width: 315px;
}
.infoBox p {
	color: #FFF;
	font-size: 12px;
	padding: 10px 20px;
	line-height: 2em;
}
.infoBtn:hover .infoBox {
	display: block;
}