@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
.wrap{ background:url(../images/inner_bg.gif);}
.top{ padding:40px 0 40px 0; margin:0 auto; width:800px;}
.bottom{background:url(../images/inner_bg.jpg); padding:60px 0;}
h2 img{ border:none;}
.title{ color:#fff; font-size:18px; font-weight:bold;}
.bigpic{
	text-align: center;
	max-width:800px;
	max-height:800px;
	margin:15px 0 25px 0;
	-webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 11px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 11px rgba(50, 50, 50, 0.75);
}
.bigpic img{
	max-width:800px;
	max-height:800px;
}
.copyright{}
.copyright a{ color:#fff; text-decoration:none;}
.flickr-user{
	width:180px;
	height:107px;
	float:left;
	margin-right:20px;
	margin-top:5px;
	position:relative;
	border-right: 1px solid #ccc;
}
.flickr-user a img{
	border:none;
	float:left;
	margin:0 10px 0 0;
}
.photo-name-line-1{ word-break:break-all; font-size:16px;}
.photo-name-line-2{ font-size:13px; display:block;}
.member-since{font-size:13px; display:block;}
.list{font-size:14px;}
.list th{
	text-align:right;
	color:#484848;
	white-space: nowrap;
}
.list td{
	text-align:left;
	padding:5px 10px 5px 15px;	
}
.list p{}
.list p span{ width:150px;}
.line{ margin:40px auto 20px auto; width:864px;}
.aperture,.shutter{ width:800px; margin:0 auto;}
.aperture h3,.shutter h3{ margin:0 0 5px 0; padding:0;}
.aperture p,.shutter p{ color:#FFF; margin:0; padding:0; line-height:180%;}
.aperture ul,.shutter ul{ margin:0; padding:0;}
.aperture ul li,.shutter ul li{ list-style:none; width:75px; color:#fff; text-align:center; display:inline-block; margin:0 0 0 11px; padding:0; }
.aperture ul li a,.shutter ul li a{margin:0; padding:0;}
.aperture ul li:first-child,.shutter ul li:first-child{margin:0 0 0 0; padding:0;}
.aperture ul li img,.shutter ul li img{ margin:5px 0; border:1px solid #313131;}
.aperture ul li span,.shutter ul li span{ }
.content a{
	color: #FFF;
	font-size: 1em;
}
