<div class="menuBox">
	<div class="outBox">
		<div class="menu">
			<ul>
				<li class="typeNight" ng-click="selectType($event, 0, 0)"><img src="images/icon_night.png" title="夜景" /></li>
				<li class="typePeople" ng-click="selectType($event, 1, 1)"><img src="images/icon_people.png" title="人物特寫" /></li>
				<li class="typeLand" ng-click="selectType($event, 2, 2)"><img src="images/icon_landscape.png" title="風景" /></li>
				<li class="typeBW" ng-click="selectType($event, 3, 3)"><img src="images/icon_blackandwhite.png" title="黑白" /></li>
				<li class="typeArch" ng-click="selectType($event, 4, 5)"><img src="images/icon_architecture.png" title="建築" /></li>
				<li class="typeNight" ng-click="selectType($event, 5, 0)"><img src="images/icon_night.png" title="夜景" /></li>
				<li class="typePeople" ng-click="selectType($event, 6, 1)"><img src="images/icon_people.png" title="人物特寫" /></li>
				<li class="typeLand" ng-click="selectType($event, 7, 2)"><img src="images/icon_landscape.png" title="風景" /></li>
				<li class="typeBW" ng-click="selectType($event, 8, 3)"><img src="images/icon_blackandwhite.png" title="黑白" /></li>
				<li class="typeArch" ng-click="selectType($event, 9, 5)"><img src="images/icon_architecture.png" title="建築" /></li>
			</ul>
		</div>
	</div>
</div>