<div id="entryBox">
    <ul class="slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <!-- <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li> -->
    </ul>
    <div class="logo"><img src="images/logo.png" /></div>
    <div class="selectWord"><img src="images/select.png" /></div>
    <div class="infoBtn">
        <img src="images/info.png" title="Information" />
        <div class="infoBox">
            <p>歡迎來到fotografia！
fotografia是一個以flickr為學習對象的超簡單攝影指南，我們提供您精美的攝影作品及Exif資料作為拍照時的參考。您可以選擇左方的常見分類，看看大家如何拍出好照片！</p>
        </div>
    </div>
    <circle-menu></circle-menu>
    <div class="exploreBtn" ng-hide="exploreHide" ng-click="gotoWall()"><p>Explore</p><img src="images/arrow_out.png" /></div>
</div>