<div id="learnBox" class="wrap">
  <div class="top">
 		<!--分類名稱-->
    	<h2><a href="#!/wall/{{catId}}"><img ng-src="images/{{titleUrl}}"/></a></h2>
        <!--title 圖片標題-->
        <div class="title">{{photoTitle}}</div>
        <!--bigpic 圖片-->
        <div class="bigpic"><img ng-src="{{mainPhoto}}" /></div>
        <div class="content">
        	<!--flickr-user 作者-->
            <p class="flickr-user">	
            <span class="name">
            <a href="http://www.flickr.com/photos/samtschiu/"><img ng-src="{{userAvatar}}" alt="" width="48" height="48"></a>
            
            <span class="photo-name-line-1">					
            <a ng-href="{{userUrl}}" target="_blank">{{userName}}</a>
            </span>
            <span class="photo-name-line-2">{{nickName}}</span>
                    
            </span>
			</p>
            <!--Aperture 鎖定光圈-->
            <table class="list">
              <tr>
                <th>Camera 相機</th>
                <td>{{cameraModel}}</td>
                <th>Focal Length 焦距</th>
                <td>{{cameraFocal}}</td>
              </tr>
              <tr>
                <th>Shutter 快門</th>
                <td>{{cameraShutter}}</td>
                <th>Exposure Value 曝光值</th>
                <td>{{cameraEV}}</td>
              </tr>
              <tr>
                <th>Aperture 光圈</th>
                <td>{{cameraAperture}}</td>
                <th>Flashlight 閃光燈</th>
                <td>{{cameraFlash}}</td>
              </tr>
              <tr>
                <th>ISO 感光度</th>
                <td>{{cameraISO}}</td>
                <td colspan="2"><span class="copyright"><a href="#">Attribution-NonCommercial-ShareAlike License</a></span></td>
              </tr>
            </table>  
        </div>
    </div>
    <div class="bottom">
    	<!--Aperture 鎖定光圈-->
    	<div class="aperture">
        	<h3><img src="images/h3_aperture.png"/></h3>
          	<p>{{cameraAperture}}</p>
            <ul>
            	<li ng-repeat="ap in sameAperture">
                    <a ng-href="#!/learn/{{ap.photoId}}"><img ng-src="{{ap.squareSource}}"></a>
                    <span>{{ap.exposureTime}}</span>
                </li>
            </ul>
            
        </div>
        <!--line 分隔線-->
        <div class="line"><img src="images/line.png"/></div>
        <!--shutter 鎖定快門-->
      	<div class="shutter">
        	<h3><img src="images/h3_shutter.png"/></h3>
          	<p>{{cameraShutter}}</p>
            <ul>
                <li ng-repeat="etp in sameExposureTimePhotos">
                    <a ng-href="#!/learn/{{etp.photoId}}"><img ng-src="{{etp.squareSource}}"></a>
                    <span>{{etp.fNumber_clean}}</span>
                </li>
            </ul>
            
        </div>
    </div>
</div>