<div id="wallBox">
	<div masonry class="masonry">
		<div infinite-scroll='wallPhotos.nextPage()' infinite-scroll-disabled='wallPhotos.busy' infinite-scroll-distance='1'>
			<div class="masonry-brick" ng-repeat="photo in wallPhotos.photos">
				<button class="wall-del" ng-click="delPhoto(photo.objectId)"><i class="icon-trash"></i></button>
				<a ng-href="#!/learn/{{photo.photoId}}"><img ng-src="{{photo.squareSource}}" alt="A masonry brick"></a>
			</div>
		</div>
	</div>
	<circle-menu></circle-menu>
</div>
